.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .imageOne {
    display: none;
  }
}

@media (max-width: 555px) {
  .pageOne > h1 {
    font-size: 2.2rem !important;
  }
  .pageOne > p {
    font-size: 0.9rem !important;
  }
}
